.button {
    -fx-background-color: #DFB951;
    -fx-background-radius: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-cursor: hand;
    -fx-padding: 5px;
}

.world-canvas {
    -fx-cursor: crosshair;
}

.airplane {
    -fx-background-image: url('/images/airplane.png');
}

.ship {
    -fx-background-image: url('/images/ship.png');
}

.remove {
    -fx-background-image: url('/images/ballofpaper.png');
    -fx-background-color: #da0000;
}

.randomize {
    -fx-background-image: url('/images/shuffle.png');
    -fx-background-color: darkorange;
}

.civil-airplane {
    -fx-background-color: #065525;
}

.civil-ship {
    -fx-background-color: #0e3a5f;
}

.military {
    -fx-background-color: darkolivegreen;
}

.vehicle-creation-buttons {
    -fx-hgap: 5px;
}