.passport {
    -fx-padding: 10px;
    -fx-font: 12px 'CourierPrime';
    -fx-spacing: 10px;
    -fx-hgap: 10px;
    -fx-background-image: url('/images/passport.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: top-left;
}

.info-label {
    -fx-font: 11px 'CourierPrime';
    -fx-padding: 0 20 0 0;
}

.info {
    -fx-font: 14px 'CourierPrime';
    -fx-padding: 0 20 10 0;
}